<html>
<head>
	<title>Search and Chat :: home</title>
	<style>
		.error {
			color: red;
		}
		.success {
			color: green;
		}
	</style>
</head>
<body>
	<h1>Home</h1>
	<p><a href="/chat">Chat</a></p>
	<p><a href="/logout">Logout</a></p>
	<%- message %>
</body>
</html>