<html>
<head>
	<title>Search and Chat</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<style>
		.error {
			color: red;
		}
		.success {
			color: green;
		}
	</style>
</head>
<body>
	<h1>Login</h1>
	<%- message %>
	<p>Authenticate with "user2" and "foobar" or "chaitanya" and "develop"</p>
	<form method="post" action="/login">
	  <p>
	    <label>Username:</label>
	    <input type="text" name="username" required>
	  </p>
	  <p>
	    <label>Password:</label>
	    <input type="password" name="password" required>
	  </p>
	  <p>
	    <input type="submit" value="Login">
	  </p>
	</form>
</body>
</html>